*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI}

body{
background:radial-gradient(circle,#2b0038,#050010);
color:white;
transition:.4s;
}

.light{background:white;color:black}

header{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#2b0038;
position:sticky;
top:0;
}

nav a{color:white;margin:15px;text-decoration:none}

.logo{color:#ff8cff}

.hero{text-align:center;padding:120px 20px}

.hero span{color:#ff8cff}

.section{
max-width:900px;
margin:50px auto;
background:#1b0028;
padding:35px;
border-radius:25px;
}

.glow{box-shadow:0 0 60px #b400ff}

h2{color:#ff8cff;margin-bottom:15px}

.skills span{
background:#2b0038;
padding:12px 25px;
margin:8px;
display:inline-block;
border-radius:30px;
box-shadow:0 0 15px #b400ff;
}

.project{
background:#2b0038;
padding:20px;
margin:15px 0;
border-radius:15px;
display:flex;
justify-content:space-between;
}

.project a{
background:linear-gradient(90deg,#b400ff,#ff00ea);
padding:8px 20px;
border-radius:20px;
color:white;
text-decoration:none;
}

input,textarea{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:none;
}

button{
background:linear-gradient(90deg,#b400ff,#ff00ea);
border:none;
padding:12px 30px;
border-radius:20px;
color:white;
}

@media(max-width:600px){
nav{display:none}
}
